<html>
<body>
    <head>
        <title>my blog</title>
    </head>

    <div>
        <h1><a href="/">my blog</a></h1>
    </div>

    <div>
        <p>published 2018-10-12 </p>
        <h2><a href="">first post</a></h2>
        <p>aenean eu leo quam. Pellentesque ornare sem laciniaquam veneatis vestibulum</p>
    </div>

    <div>
        <p>published 2018-10-12</p>
        <h2><a href="">second post</a></h2>
        <p>aenean eu leo quam. Pellentesque ornare sem laciniaquam veneatis vestibulum</p>
    </div>



</body>
</html>